@{
     ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About section  -->
<section class="about-section">
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-6 p-0">

                    <div class="about-bg set-bg" data-setbg="../Content/themes/base/images/pinguin1.JPG "></div>
               </div>
               <div class="col-lg-6 p-0">
                    <div class="about-text">
                         <h2> ~ Alexandru Negară ~</h2>
                         <p>
                              Mă numesc Alexandru! Sunt student la Universsitatea Tehnică a Moldovei! Studiez la Facultatea de -Calculatoare, Informatică și Microelectronică-, Specialitatea -Tehnologii Informaționale-.
                              Indiferent că am îndrăgit această profesie, mai am și o pasiune de fotografii!
                              Deci fotografiile nu-mi aduc doar frumusețe, dar și plăcerea de a vedea pe cineva fericit!
                         </p>
                         <h3> De ce anume fotografiile?</h3>
                         <p> Datorită fotografiilor, o persoană se poate întoarce în trecut pentru câteva momente, amintindu-și momentele cele mai plăcute. Fotografiile ne permit să păstrăm permanent în memorie moementele care deja nu le vom mai trăi. </p>
                         <a href="#" class="site-btn">Contactează-mă</a>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- About section end  -->

<!-- Skills section  -->
<div class="skill-section set-bg" data-setbg="../Content/themes/base/images/skills-bg.jpg">
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-3 col-sm-6">
                    <div class="circle-progress text-white" data-cptitle="Pasiuni" data-cpid="id-1" data-cpvalue="100" data-cpcolor="#ffffff"></div>
               </div>
               <div class="col-lg-3 col-sm-6">
                    <div class="circle-progress text-white" data-cptitle="Modele" data-cpid="id-2" data-cpvalue="75" data-cpcolor="#ffffff"></div>
               </div>
               <div class="col-lg-3 col-sm-6">
                    <div class="circle-progress text-white" data-cptitle="Studio" data-cpid="id-3" data-cpvalue="25" data-cpcolor="#ffffff"></div>
               </div>
               <div class="col-lg-3 col-sm-6">
                    <div class="circle-progress text-white" data-cptitle="Natura" data-cpid="id-4" data-cpvalue="50" data-cpcolor="#ffffff"></div>
               </div>
          </div>
     </div>
</div>
<!-- Skills section end  -->
<!-- Services section  -->
<section class="services-section">
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-4 col-md-6">
                    <div class="services-item">
                         <img src="~/Content/themes/base/images/icons/1.png" alt="">
                         <h4>Studio de fotografii</h4>
                         <p> Un studio de fotografii este raiul unui fotograf! Este locul unde simți niște sentimente dar redai cu totul altele! </p>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6">
                    <div class="services-item">
                         <img src="~/Content/themes/base/images/icons/2.png" alt="">
                         <h4>Editarea nunților</h4>
                         <p>Editarea fotografiilor de la nunți are loc într-un timp îndelungat: 6-10 luni, dar garantăm calitatea 100%</p>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6">
                    <div class="services-item">
                         <img src="~/Content/themes/base/images/icons/3.png" alt="">
                         <h4>Bandă cu fotografii</h4>
                         <p>Banda cu fotografii ne oferă posibilitatea de a vizualiza 5/6 poze consecutive de mărime 10x10cm. Ele se obțin imediat după executarea fotografiilor</p>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6">
                    <div class="services-item">
                         <img src="~/Content/themes/base/images/icons/4.png" alt="">
                         <h4>Editarea modernă</h4>
                         <p>Editarea modernă are loc prin utilizarea unor aplicații de ultimă generație care nu consumă calitatea fotografiilor </p>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6">
                    <div class="services-item">
                         <img src="~/Content/themes/base/images/icons/5.png" alt="">
                         <h4>Înregistrările video</h4>
                         <p>Înregistrările video se efectuează în complect cu fotografiile. De-asemenea asigurăm calitate pentru cea mai furmoasă amintire! </p>
                    </div>
               </div>
               <div class="col-lg-4 col-md-6">
                    <div class="services-item">
                         <img src="~/Content/themes/base/images/icons/6.png" alt="">
                         <h4>Editarea video</h4>
                         <p>Procesul de editarea video este unul mai îndelungat dar calitativ. El constituie 10-12 luni!</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- Services section end  -->
