@{

     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Tittle = "Home";
}

@using System.Web.Optimization


<div>
     <!-- Hero section  -->
     <div class="hero-section">
          <div class="hero-slider owl-carousel">
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/1.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>

               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/2.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/3.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/4.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/5.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/6.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/7.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
          </div>
          <div class="hero-slider owl-carousel">
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/8.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/9.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/10.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/11.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/12.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/13.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/14.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
          </div>
          <div class="hero-slider owl-carousel">
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/15.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/16.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/17.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/18.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/19.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/20.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
               <div class="hero-item portfolio-item set-bg" data-setbg="../Content/themes/base/images/portfolio/21.jpg">
                    <a href="portfolio.html" class="hero-link">
                         <h2>Privește-mi portofoliul</h2>
                    </a>
               </div>
          </div>
          <div class="hero-social-links">
               <a href=""><i class="fa fa-pinterest"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-instagram"></i></a>
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-dribbble"></i></a>
               <a href=""><i class="fa fa-behance"></i></a>
          </div>
     </div>
     <!-- Hero section end  -->

     <!-- Intro section   -->
     <section class="intro-section">
          <div class="intro-warp">
               <div class="container-fluid">
                    <div class="row">
                         <div class="col-xl-6 col-lg-7 p-0">
                              <div class="intro-text">
                                   <h2>Salut! Mă numesc Alexandru și sunt pasionat de fotografii!</h2>
                                   <p>Nu pot să cânt, să pictez și nu știu să scriu ce simt, așa că nu îmi rămâne decât fotografia, pentru a-mi exprima sentimentele. Fotografia este arta de a fura timpului o firimitură de clipă.</p>

                              </div>
                         </div>
                         <div class="col-xl-6 col-lg-5 p-0">
                              <div class="skill-warp">
                                   <div class="single-progress-item">
                                        <div class="progress-bar-style" data-progress="75"></div>
                                        <p>Natura</p>
                                   </div>
                                   <div class="single-progress-item">
                                        <div class="progress-bar-style" data-progress="100"></div>
                                        <p>Pasiune</p>
                                   </div>
                                   <div class="single-progress-item">
                                        <div class="progress-bar-style" data-progress="90"></div>
                                        <p>Portrete</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>
     <!-- Intro section end  -->
     <!-- Search model -->
     <div class="search-model">
          <div class="h-100 d-flex align-items-center justify-content-center">
               <div class="search-close-switch">+</div>
               <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
               </form>
          </div>
     </div>
     <!-- Search model end -->

</div>

