@{
     ViewBag.Title = "Portofolio2";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Web.Optimization

<!-- Portfolio section  -->
<div class="portfolio-3-section">
     <ul class="portfolio-filter pf-2 controls">
          <li class="control" data-filter="all">Toate</li>
          <li class="control" data-filter=".nature">Natura</li>
          <li class="control" data-filter=".studio">Studio de fotografii</li>
          <li class="control" data-filter=".weddings">Nunți</li>
          <li class="control" data-filter=".lifestyle">Stiluri de viață</li>
          <li class="control" data-filter=".fashion">Fashion</li>
     </ul>
     <div class="portfolio-grid portfolio-gallery nature">
          <div class="grid-sizer"></div>
          <div class="mix grid-item">
               <div class="grid-portfolio">
                    <img src="~/Content/themes/base/images/portfolio-2/1.jpg" alt="">

               </div>
          </div>
          <div class="mix grid-item grid-width-1 studio">
               <div class="grid-portfolio">
                    <img src="~/Content/themes/base/images/portfolio-2/2.jpg" alt="">

               </div>
          </div>
          <div class="mix grid-item weddings">
               <div class="grid-portfolio">
                    <img src="~/Content/themes/base/images/portfolio-2/3.jpg" alt="">

               </div>
          </div>
          <div class="mix grid-item lifestyle">
               <div class="grid-portfolio">
                    <img src="~/Content/themes/base/images/portfolio-2/4.jpg" alt="">

               </div>
          </div>
          <div class="mix grid-item fashion">
               <div class="grid-portfolio">
                    <img src="~/Content/themes/base/images/portfolio-2/5.jpg" alt="">

               </div>
          </div>
          <div class="mix grid-item grid-width-2 nature">
               <div class="grid-portfolio">
                    <img src="~/Content/themes/base/images/portfolio-2/6.jpg" alt="">

               </div>
          </div>
     </div>
</div>
<!-- Portfolio section end  -->
